## Multidimensional

In [1]:
# Panel

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = np.random.randint(1, 10, (5, 3, 2)); data

array([[[1, 2],
        [4, 6],
        [4, 5]],

       [[3, 8],
        [2, 1],
        [9, 1]],

       [[2, 5],
        [6, 5],
        [1, 3]],

       [[8, 8],
        [7, 6],
        [6, 6]],

       [[3, 9],
        [5, 9],
        [7, 6]]])

In [4]:
painel = pd.Panel(
    data, 
    items = ['item {}'.format(i) for i in range(1, 6)], 
    major_axis = [2015, 2016, 2017], 
    minor_axis = ['US', 'UK'])

In [6]:
print(painel)

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 3 (major_axis) x 2 (minor_axis)
Items axis: item 1 to item 5
Major_axis axis: 2015 to 2017
Minor_axis axis: US to UK

In [7]:
data = data.reshape(5, 6).T

In [8]:
df = pd.DataFrame(
    data = data,
    index = pd.MultiIndex.from_product([[2015, 2016, 2017], ['US', 'UK']]),
    columns = ['item {}'.format(i) for i in range(1, 6)])

In [9]:
df

         item 1  item 2  item 3  item 4  item 5
2015 US       1       3       2       8       3
     UK       2       8       5       8       9
2016 US       4       2       6       7       5
     UK       6       1       5       6       9
2017 US       4       9       1       6       7
     UK       5       1       3       6       6

## Criando objetos multidimensionais com Panel

In [10]:
USData = pd.DataFrame(np.array([[249.62 , 8900],
                              [282.16,12680],
                              [309.35,14940]]),
                      columns = ['População(M)','PIB($B)'],
                      index = [1995,2005,2015])

In [11]:
USData

      População(M)  PIB($B)
1995        249.62   8900.0
2005        282.16  12680.0
2015        309.35  14940.0

In [12]:
ChinaData = pd.DataFrame(np.array([[1133.68, 390.28],
                                 [1266.83,1198.48],
                                 [1339.72, 9923.47]]),
                       columns=['População(M)','PIB($B)'],
                       index=[1995,2005,2015])

In [13]:
ChinaData

      População(M)  PIB($B)
1995       1133.68   390.28
2005       1266.83  1198.48
2015       1339.72  9923.47

In [14]:
US_ChinaData = {'US': USData, 'China': ChinaData}; US_ChinaData

{'US':       População(M)  PIB($B)
 1995        249.62   8900.0
 2005        282.16  12680.0
 2015        309.35  14940.0,
 'China':       População(M)  PIB($B)
 1995       1133.68   390.28
 2005       1266.83  1198.48
 2015       1339.72  9923.47}

In [15]:
pd.Panel(US_ChinaData)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 2 (minor_axis)
Items axis: US to China
Major_axis axis: 1995 to 2015
Minor_axis axis: População(M) to PIB($B)

In [16]:
type(pd.Panel(US_ChinaData))

pandas.core.panel.Panel

## Convertendo DataFrame para Panel

In [17]:
mIdx = pd.MultiIndex(levels = [['US', 'China'], [1995,2005, 2015]],
                     labels = [[1,1,1,0,0,0], [0,1,2,0,1,2]])

In [18]:
mIdx

MultiIndex(levels=[['US', 'China'], [1995, 2005, 2015]],
           labels=[[1, 1, 1, 0, 0, 0], [0, 1, 2, 0, 1, 2]])

In [19]:
ChinaUSDF = pd.DataFrame({'População(M)' : [1133.68, 1266.83, 1339.72, 249.62, 282.16,309.35], 
                          'PIB($B)': [390.28, 1198.48, 6988.47, 8900,12680,14940]}, 
                         index = mIdx)

In [20]:
ChinaUSDF

            População(M)   PIB($B)
China 1995       1133.68    390.28
      2005       1266.83   1198.48
      2015       1339.72   6988.47
US    1995        249.62   8900.00
      2005        282.16  12680.00
      2015        309.35  14940.00

In [22]:
# ChinaUSDF.to_panel()
!pip install xarray

Requirement already satisfied: xarray in /opt/conda/lib/python3.7/site-packages (0.15.0)
Requirement already satisfied: pandas>=0.25 in /opt/conda/lib/python3.7/site-packages (from xarray) (1.0.1)
Requirement already satisfied: numpy>=1.15 in /opt/conda/lib/python3.7/site-packages (from xarray) (1.16.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.25->xarray) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.25->xarray) (2019.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.25->xarray) (1.14.0)

In [23]:
ChinaUSDF.to_xarray()

<xarray.Dataset>
Dimensions:       (level_0: 2, level_1: 3)
Coordinates:
  * level_0       (level_0) object 'US' 'China'
  * level_1       (level_1) int64 1995 2005 2015
Data variables:
    População(M)  (level_0, level_1) float64 1.134e+03 1.267e+03 ... 282.2 309.4
    PIB($B)       (level_0, level_1) float64 390.3 1.198e+03 ... 1.494e+04